@import "../../scss/index.scss";

.auth-page {
  height: 100%;
  text-align: center;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth {
    width: 90% !important;
    height: 90% !important;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    padding: 0px;
    z-index: 1;
    background-color: #ffffff;
  }

  .square {
    width: 150px;
    height: 150px;
    background-color: $primary-color;
    position: absolute;
    z-index: 0;
    margin-right: 160vh;
    margin-bottom: 73vh;
    border-radius: 20px;
  }
}

/*
.ui.grid {
    > .row {
      width: 100% !important;
      > .column:nth-child(2n) {
        background-color: $primary-color;
        color: $font-light;
      }
      > .column {
        padding-right: 40px !important;
        padding-left: 40px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        height: 100%;
        width: 50% !important;
        width: fit-content;
        position: relative !important;
        .login-form {
          background-color: $primary-color;
          color: $font-light;
        }
      }
    }
  }

*/
